<style>
  #R-logo svg,
  #R-logo svg * {
    color: #282828;
    color: var(--MENU-SECTIONS-BG-color);
    fill: #282828 !important;
    fill: var(--MENU-SECTIONS-BG-color) !important;
    opacity: 0.945;
  }
  a#R-logo {
    color: #282828;
    color: var(--MENU-SECTIONS-BG-color);
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial",
      sans-serif;
    font-size: 1.875rem;
    font-weight: 300;
    margin-top: -0.8125rem;
    max-width: 60%;
    text-transform: uppercase;
    width: 14.125rem;
    white-space: nowrap;
  }
  a#R-logo:hover {
    color: #282828;
    color: var(--MENU-SECTIONS-BG-color);
  }
  #R-logo svg {
    margin-bottom: -1.25rem;
    margin-inline-start: -1.47rem;
    margin-inline-end: 0.5rem;
    width: 40.5%;
  }
  @media only all and (max-width: 59.999rem) {
    a#R-logo {
      font-size: 1.5625rem;
      margin-top: -0.1875rem;
    }
    #R-logo svg {
      margin-bottom: -0.75rem;
      margin-inline-start: -1.47rem;
      margin-inline-end: 0.5rem;
    }
  }
</style>
<a id="R-logo" href="https://nisc-portfolio.vercel.app" target="_blank">
  <img
    src="images/logo.png"
    style="width: 50px; height: 50px"
  />Relearn
</a>
